@import '../../shared.styles.scss';

.movie-card {
  margin: 1%;

  .poster {
    height: 350px;
    width: 350px;
  }

  .movie-review-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    .star-icon {
      padding: 1%;
    }
  }
}
