@import '../../shared.styles';

.sign-in-email-password {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .email,
  .password {
    width: $input-field-width;
    margin: $base-margin;
  }

  .sign-in-btn {
    width: $input-field-width;
    margin: $base-margin;

    :hover {
      color: black;
    }
  }
}
