@import '../../shared.styles';

.sign-in-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5%;

  .sign-in-password {
    width: 50%;

    .name,
    .password {
      width: $input-field-width;
      margin: $base-margin;
    }
  }

  .sign-in-google {
    width: 30%;
  }

  .sign-in-btn {
    width: $input-field-width;
    margin: $base-margin;

    :hover {
      color: black;
    }
  }
}
