@import '../../shared.styles';

.sign-up-in-form {
  display: flex;
  flex-wrap: wrap;

  .sign-in {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .sign-in-btn-google {
      width: $input-field-width;
      height: 10%;

      :hover {
        color: black;
      }
    }
  }
}
