@import '../../shared.styles.scss';

.review-text {
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  p {
    text-align: justify;
  }

  .toggle-text {
    cursor: pointer;
    font-size: 10px;
    margin-left: 2%;
    color: black;
  }

  .genres-container {
    margin-top: $base-margin;

    .MuiChip-root {
      margin: 5px;
    }
  }
}
