@import '../../shared.styles.scss';

.review-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;

  .title,
  .review, .poster {
    width: $input-field-width;
    margin-bottom: $base-margin;
  }

  Button:hover {
    color: black;
  }
}

// .upload-img {
//   width: 60%;
//   margin-top: 20px;

//   input {
//     display: none;
//   }
// }
