@import '../../shared.styles';

.nav-bar {
  .buttons {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
  }

  .user-data {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    cursor: default;

    .user {
      width: 70%;
      display: flex;
      justify-content: space-between;
    }
  }
}
